@import './variables.scss';
@import "./../node_modules/bootstrap/scss/bootstrap";
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/mixins";

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: .85rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: .9rem;
    }
  }
  
  @include media-breakpoint-up(xxl) {
    html {
      font-size: .95rem;
    }
    .jumbotron {
        min-height: 80vh;
    }
  }

.App {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.tape {
    background-image: url(./images/vintage-concrete.png);
    margin: 0 auto;
    width: 60%;
    height: 10%;
    z-index: 2; 
    position:relative;
    top: -20px; 
}

//Intro Component Styling
#IntroComponent {
    .jumbotron {
        // background-color: #D8B061 !important;
        background-image: url(./images/cork-board.png);
        #note {
            position:relative;
            -ms-transform: rotate(7deg); /* IE 9 */
            -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
            transform: rotate(2deg);
            border-radius: 2px;
            background-image: url(./images/linedpaper.png);
            box-shadow: 4px 4px 0px $dark;
        }
    }
}

//Vote Component Styling
#VoteComponent {
    .jumbotron {
        background-color: $navy !important;
        color: $light;
    }
    .card {
        margin-top: 1rem;
        background-color: $light !important;
        color: $navy !important;
        box-shadow: 6px 6px 0px lighten($dark, 5%);
        &:hover {
            box-shadow: 6px 6px 0px lighten($dark, 20%);
        }
    }
}

//Registration Info Component Styling
#RegistrationInfoComponent {
    .jumbotron {
        background-image: url(./images/linedpaper.png);
        color: $dark;
    }
    .card {
        margin-top: 1rem;
        background-color: #f5f5f5;
        opacity: .7;
        color: $navy !important;
        box-shadow: 6px 6px 0px lighten($dark, 20%);
        &:hover {
            // box-shadow: 7px 6px 0px #8c7659;
            opacity: 1;
            box-shadow: 6px 6px 0px $dark;
        }
    }
}

#PurposeComponent {
    .jumbotron {
        background-image: url(./images/memphis-mini.png);
        min-height: 100vh;
    }
}

// Footer
#footer {
    .btn-link {
        color: $light;
        text-decoration: none;
    }
}