@import './variables.scss';
@import "./../node_modules/bootstrap/scss/bootstrap";
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/mixins";

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: .85rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: .9rem;
    }
  }
  
  @include media-breakpoint-up(xl) {
    html {
      font-size: .95rem;
    }
  }

.App {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

//Intro Component Styling
#IntroComponent {
    .jumbotron {
        margin-top: 25px;
        background-color: $peach !important;
    }
}

//Vote Component Styling
#VoteComponent {
    .jumbotron {
        background-color: $dark !important;
        color: $light;
        button .btn-peach {
            background-color: $peach !important;
        }
    }
}